.noteCard{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 24%;
    /* background-color: #666; */
    padding: 12px 8px;
    border-radius: 4px;
}


.bookCover{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #fff; */
    margin: 2px 4px;
}


.bookCover .bookImg img{

    /* display: inline-block; */
    border-radius: 8px;
    object-fit: cover;

}


.bookCover .bookImg:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out 0;
}
